---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CS5346 - More about Movies</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  {% include nav.html %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">


      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-12 image-container" style="margin-top:10px; margin-bottom: 10px;">
            <div class="overlay-image">
              <div class="overlay-color">
                &nbsp;
              </div>
              <div class="overlay-text">
                  Movie Goers
              </div>
            </div>
            <img class="d-block img-fluid" src="images/movie-goer-large.jpg" alt="First slide" style="border-radius:5px">
          </div>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="visualizations/5-movie-trends/movie-trends.html"><img class="card-img-top" src="images/5-MovieTrendsRuntime.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="visualizations/5-movie-trends/movie-trends.html">Does length matter?</a>
                </h4>
                <p class="card-text">Do longer run times result in higher budgets? Are they more popular? How have these factors changed over the years?</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="visualizations/8-network-graph/"><img class="card-img-top" src="images/8-network-graph.PNG" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="visualizations/8-network-graph/">Movies and their Casts</a>
                </h4>
                <p class="card-text">A network graph of movies and cast that you can explore the cast relationships between different movies</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="visualizations/2-revenue-vs-budget/revenue_vs_budget.html"><img class="card-img-top" src="images/2-RevenueVsBudget.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="visualizations/2-revenue-vs-budget/revenue_vs_budget.html">Revenue versus Budget</a>
                </h4>
                <p class="card-text">Which movies have the highest profit margin?</p>
              </div>
            </div>
          </div>


        </div>
        <!-- /.row -->

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="visualizations/4-highest-lowest-grossing-movies/highest_lowest_grossing_movies.html"><img class="card-img-top" src="images/4-HighestLowest.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="visualizations/4-highest-lowest-grossing-movies/highest_lowest_grossing_movies.html">Highs and Lows</a>
                </h4>
                <p class="card-text">Top 10 highest and bottom 10 lowest grossing movies</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="visualizations/6-global-trend.html"><img class="card-img-top" src="images/6-revenue-trend.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="visualizations/6-global-trend.html">Global Trend</a>
                </h4>
                <p class="card-text">How is global revenue trend?by countires?any quarter dependency?</p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
